.banner{
        margin: 13vw 7vw 2vw 3vw;
}
span {
    color: #08493d;
}
.banner ul {
    display: flex;
}

.banner li {
    padding: 5%;
}

.banner img {
    width: 20%;
}

.banner h1 {
    font-family: 'League Spartan';
    font-weight: normal;
    color:#33A691; 
    font-size: 380%;

}

.banner h2 {
    font-family: 'League Spartan';
    font-weight: normal;
    color:#5eddbf;; 
    font-size: 190%;
}

.banner h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #125c4e;
    font-size: 180%;
    text-align: right;
}

.banner p {
    font-family: 'Abel';
    text-align: justify;
    margin: 5% 0;
    font-size: 110%;
}

.banner .curiosidade {
    border: 2px #125c4e solid;
    padding: 3% 3% 0 3%;
    border-radius: 5px;
    margin: 4% 0 6% 8% ;
}


/* Formatação sobre */

.sobre {
    margin: 0% 7% 3% 8%;
    text-align: center;
}

.sobre ul {
    display: flex;
    justify-content: space-between;
}

.sobre h2 {
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 350%;
    color: #125c4e;
    text-align: left;
}

.sobre p {
    font-family: 'Abel';
    font-size: 120%;
    text-align: justify;
    margin: 4% 15% 0 0;

}

.separa img {
    background-color: #33A691;
    padding: 1% 47%;
    margin: 4% 0;
}

.sobre ul li img {
    width: 120%;
    margin: 8% 0% 0 0;
} 


/* Formatação animal */

.animal {
    text-align: center;
    margin: 3% 7%;
}
.animal h1 {
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 330%;
    color: #33A691 ;
    margin: 0 0 4% 0;
}
.animal div {
    display: flex;
    border: 2px #33A691 solid;
    border-radius: 7px;
    padding: 2%;
}
.animal div img{
    width: 20%;
}

.animal div p {
    font-family: 'Abel';
    text-align: justify;
    font-size: 150%;
    margin: 3% 5% 0 0;
}
.animal h2 {
    font-family: 'League Spartan';
    font-weight: normal;
    color: #33A691;
    font-size: 290%;
    text-align: center;
    margin: 6%;
}

.animal ul {
    display: flex;
    justify-content: space-around;
}
.animal ul li img {
    width: 200px;
    height: 100px;
    border: 3px #125c4e solid;
    border-radius: 5%;
}
.animal ul li {
    width: 30%;
    height: 500px;
    background-color: #33A691;
    padding: 3%;
    border-radius: 6px;
    margin: 1% 0;
}

.animal ul li p {
    font-family: 'Abel';
    text-align: justify;
    font-size: 120%;
    margin: 6% 0 0 0 ;
}
.animal ul li h3 {
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 150%;
    margin: 2% 0 0 0;
}


/* Formatação vegetal */

.vegetal {
    margin: 3% 7%;
}
.vegetal h1 {
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 330%;
    color: #33A691 ;
    margin: 0 0 4% 0;
    text-align: center;
}
.vegetal div {
    display: flex;
    border: 2px #33A691 solid;
    border-radius: 7px;
    padding: 2%;
    margin: 4% 0;
}
.vegetal div img{
    width: 20%;
}
.vegetal div p {
    font-family: 'Abel';
    text-align: justify;
    font-size: 150%;
    margin: 1% 5% 0 0;
}

.vegetal .parede p {
    margin: 0 0 0 4%;
}

.vegetal h2 {
    font-family: 'League Spartan';
    font-weight: normal;
    color: #33A691;
    font-size: 290%;
    text-align: center;
    margin: 6%;
}

.vegetal ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.vegetal ul li img {
    width: 200px;
    height: 100px;
    border: 3px #125c4e solid;
    border-radius: 5%;
}
.vegetal ul li {
    width: 30%;
    height: 540%;
    background-color: #33A691;
    padding: 3%;
    border-radius: 6px;
    margin: 1% 0;
}

.vegetal ul li p {
    font-family: 'Abel';
    text-align: justify;
    font-size: 120%;
    margin: 6% 0 0 0 ;
}
.vegetal ul li h3 {
    font-family: 'League Spartan';
    font-weight: normal;
    font-size: 150%;
    margin: 2% 0 0 0;
}
