header {
    font-family: 'Karla';font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33A691;
    height: 8vw;
    position: fixed;
    width: 100%;
    position: fixed; 
    top: 0;       
} 
header img {
    margin: 0 0 0 50px;
}
header nav {
    margin: 0 30px 0 0;
}
header a {
    color: white;
    margin: 0 30px;
}


.div {
    background-color: #9CD9CB;
    height: 20px;
    position: fixed;
    width: 100%;
    top: 140px;
}



footer {
    background-color: #33A691;
    text-align: end;
    margin: 6% 0 0 0;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 3% 6%;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
}

footer h3 {
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

footer div {
    margin: 5% 0;
}

footer a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}